.submitButton {
  height: 80px;
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  background-color: #4262e1;
  color: #FFFFFF;
  border: none;
  border-radius: 10%;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.submitButton:disabled {
  opacity: 0.35;
}

form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  border-style: solid;
  border-color: #4262e1;
  padding: 20px;
  border-radius: 10%;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid blue;
  border-right: 8px solid green;
  border-bottom: 8px solid red;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 18%;
  left: 41%;
  transform: translate(-50%, -50%);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}