.header {
  position: fixed;
  background: #7f90ff;
  width: 100%;
  padding: 20px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

.cartAndFavouritesWrapper {
  display: flex;
  align-items: center;
}

.cartIcon {
  margin-right: 5px;
}

.favouriteIcon {
  margin-right: 5px;
}

.cartLength {
  margin-right: 20px;
}

.favouriteLength {

}