.title {
  padding-top: 80px;
  text-align: center;
}

.allProductsWrapper {
  display: flex;
  flex-direction: column;
}

.productTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 3px solid #4262e1;
  border-collapse: collapse;
}