.backgroundColor {
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #302f2d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #FFFFFF;
  z-index: 4999;
}

.modalContainer {
  min-width: 400px;
  min-height: 200px ;
  background-color: #ea4b36;
}

.header {
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d64532;
}

.title {
  font-size: 16px;
}

.cross {
  border: 0;
  background-color: #d34237;
  padding: 0;
  color: #FFFFFF;
  cursor: pointer;
}

.body {

}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.text {
  text-align: center;
  font-size: 14px;
  width: 80%;
  margin: 20px auto;
}

