*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #7f90ff;
  width: 100%;
  padding: 20px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.cartIcon {
  margin-right: 5px;
}

.favouriteIcon {
  margin-right: 5px;
}

.cartLength {
  margin-right: 20px;
}

.favouriteLength {

}