.productItem {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.productImage {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
  overflow: hidden;
  object-fit: cover;
}

.productInfo {
  flex-grow: 1;
}

.productName {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.productPrice {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.productColor {
  font-size: 0.9rem;
  color: #555;
}

.productFavourite {
  position: absolute;
  top: 0;
  right: 0;
}

.delFromCart {

}