.title {
  text-align: center;
}

.message {
  text-align: center;
}

.backToHomeBTN {
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backToHomeBTN:hover {
  background-color: #2980b9;
}